
@{
    ViewBag.Title = "testHttpGetAndPost";
}

<h2>testHttpGetAndPost</h2>
<br />
<br />
<h1>@ViewBag.Message</h1>
<br />
<br />
<form class="table table-striped" action="/HttpGetAndHttpPost/testHttpGetAndPost" method="post">
    <input type="number" id="edad" name="edad" />
    <button class="btn-success" type="submit">Enviar</button>
</form>

